@mixin shadow {
    box-shadow: 0rem 30rem 80rem 0rem rgba(0, 0, 0, 0.5);
}

@mixin input {
    background-color: transparent;
    color: $color-white;
    padding: 0;
}

@mixin select {
    appearance: menulist-button;
    cursor: pointer;
}

@mixin border {
    border: 2rem solid $color-white;
}

@mixin perf {
    transform: translateZ(0);
}
