@use "../_config/vars";

@mixin shadow {
    box-shadow: 0rem 30rem 80rem 0rem rgba(0, 0, 0, 0.5);
    @include responsive-medium {
        box-shadow: none;
    }
}

@mixin input {
    background-color: transparent;
    color: vars.$color-white;
    padding: 0;
}

@mixin select {
    background-color: vars.$color-black;
    appearance: menulist-button;
    padding: 0 20rem 0 4rem;
    cursor: pointer;
    @include responsive-medium {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@mixin border {
    border: 2rem solid vars.$color-white;
    @include responsive-medium {
        border-width: 1rem;
    }
}

@mixin perf {
    transform: translateZ(0);
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 8rem;
        height: 8rem;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: vars.$color-white;
        box-shadow: -1rem 0 0 0 vars.$color-white;
    }
    @include responsive-medium {
        &::-webkit-scrollbar {
            width: 4rem;
            height: 4rem;
        }
    }
}

@mixin responsive-big {
    @media screen and (max-width: vars.$breakpoint-big) {
        @content;
    }
}

@mixin responsive-medium {
    @media screen and (max-width: vars.$breakpoint-medium) {
        @content;
    }
}

@mixin responsive-small {
    @media screen and (max-width: vars.$breakpoint-small) {
        @content;
    }
}
