@mixin shadow {
    box-shadow: 0rem 30rem 80rem 0rem rgba(0, 0, 0, 0.5);
    @include responsive-medium {
        box-shadow: none;
    }
}

@mixin input {
    background-color: transparent;
    color: $color-white;
    padding: 0;
}

@mixin select {
    background-color: $color-black;
    appearance: menulist-button;
    padding: 0 20rem 0 4rem;
    cursor: pointer;
    @include responsive-medium {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@mixin border {
    border: 2rem solid $color-white;
    @include responsive-medium {
        border-width: 1rem;
    }
}

@mixin perf {
    transform: translateZ(0);
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 2rem;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-black;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-white;
        box-shadow: -1rem 0 0 0 $color-white;
    }
}

@mixin animated-background {
    background: linear-gradient(-45deg, $color-orange, $color-pink, $color-blue, $color-green);
    background-size: 400% 400%;
    animation: animated-background 3s ease infinite;
    @keyframes animated-background {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @include responsive-medium {
        animation: none;
        background: none;
        background-color: $color-pink;
    }
}

@mixin responsive-big {
    @media screen and (max-width: $breakpoint-big) {
        @content;
    }
}

@mixin responsive-medium {
    @media screen and (max-width: $breakpoint-medium) {
        @content;
    }
}

@mixin responsive-small {
    @media screen and (max-width: $breakpoint-small) {
        @content;
    }
}
