@mixin shadow {
    box-shadow: 0rem 30rem 80rem 0rem rgba(0, 0, 0, 0.5);
}

@mixin input {
    background-color: transparent;
    color: $color-white;
    padding: 0;
}

@mixin select {
    appearance: menulist-button;
    cursor: pointer;
}

@mixin border {
    border: 2rem solid $color-white;
}

@mixin perf {
    transform: translateZ(0);
}

@mixin animated-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: animated-background 3s ease infinite;
    @keyframes animated-background {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
