@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

html,
body,
button,
input,
select,
textarea {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
