@use '../../node_modules/tippy.js/dist/tippy';
@use "../_config/vars";

.tippy-box {
    font-size: 10rem;
    font-weight: normal;
    background-color: vars.$color-black;
    color: vars.$color-white;
    box-shadow: 0rem 0rem 0rem 3rem vars.$color-white;
    border-radius: 0;
}
.tippy-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tippy-arrow {
    display: none;
}
