DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hosea
DB_USERNAME=root
DB_PASSWORD=root

JWT_TABLE=users
JWT_LOGIN=email
JWT_TTL=30
JWT_SECRET=***************************************************************

MAILBOX_EMAIL=***@***.***
MAILBOX_HOST=***;***
MAILBOX_PORT=993;993
MAILBOX_USERNAME=***@***.***;***@***.***
MAILBOX_PASSWORD=***;
MAILBOX_ENCRYPTION=ssl;tls
MAILBOX_OAUTH_TENANT_ID=;****************************************
MAILBOX_OAUTH_CLIENT_ID=;****************************************
MAILBOX_OAUTH_CLIENT_SECRET=;****************************************
MAILBOX_FOLDER_INBOX=INBOX
MAILBOX_FOLDER_ARCHIVE=INBOX/ARCHIV

SMTP_EMAIL=***@***.***
SMTP_HOST=***
SMTP_PORT=587
SMTP_USERNAME=***@***.***
SMTP_PASSWORD=***
SMTP_ENCRYPTION=ssl|tls
SMTP_OAUTH_TENANT_ID=****************************************
SMTP_OAUTH_CLIENT_ID=****************************************
SMTP_OAUTH_CLIENT_SECRET=****************************************
SMTP_FROM_NAME="John Doe"

EDITORS=***@***.***;***@***.***;***@***.***

WEATHER_OPENWEATHER_API_KEY=********************************
WEATHER_LOCATION_LAT=00.000000
WEATHER_LOCATION_LON=00.000000

MONEY_STATS_URL="https://tld.com/***"