@use "../_assorted/common";
@use "../_config/vars";

html.jwtbutler-login-form-visible {
    .login-form {
        font-size: vars.$font-size-big;
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        padding: vars.$space-medium;
        transform: translateY(-50%) translateX(-50%);
        background-color: vars.$color-green;
        z-index: 2147483638;
        @include common.border;
        @include common.shadow;
    }

    .login-form__label {
        display: none;
    }

    .login-form__input {
        width: 200rem;
        padding: vars.$space-small;
        margin-bottom: vars.$space-small;
    }

    .login-form__submit {
        width: 100%;
        background-color: vars.$color-black;
        color: vars.$color-white;
        padding: vars.$space-small;
        cursor: pointer;
    }

    .login-form__error {
        background-color: vars.$color-pink;
        color: vars.$color-white;
        margin-bottom: vars.$space-small;
        padding: vars.$space-small;
        text-align: center;
    }
}
