html.jwtbutler-login-form-visible .login-form {
    position: fixed;
    top: $space-big;
    left: $space-big;
    bottom: $space-big;
    right: $space-big;
    background-color: $color-greylight;
    border: 7rem solid $color-greydark;
    z-index: 2147483638;
}
