html.jwtbutler-login-form-visible {
    .login-form {
        font-size: $font-size-big;
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        padding: $space-medium;
        transform: translateY(-50%) translateX(-50%);
        background-color: $color-green;
        z-index: 2147483638;
        @include border;
        @include shadow;
    }

    .login-form__label {
        display: none;
    }

    .login-form__input {
        width: 200rem;
        padding: $space-small;
        margin-bottom: $space-small;
    }

    .login-form__submit {
        width: 100%;
        background-color: $color-black;
        color: $color-white;
        padding: $space-small;
        cursor: pointer;
    }

    .login-form__error {
        background-color: $color-pink;
        color: $color-white;
        margin-bottom: $space-small;
        padding: $space-small;
        text-align: center;
    }
}
