@use "../_assorted/common";
@use "../_config/vars";

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: vars.$footer-height;
    line-height: vars.$footer-height;
    background-color: vars.$color-black-transparent;
    color: vars.$color-white;
    padding: 0 vars.$space-big;
    @include common.shadow;
    @include common.border;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 1fr;
}
.footer__status {
    text-align: center;
    z-index: 1;
}
.footer__status:after {
    content: '';
    position: absolute;
    width: 15%;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    transition: all 0.75s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 10rem 10rem vars.$color-white;
    background-color: vars.$color-white;
    opacity: 0.15;
}
.footer__status--success:after {
    box-shadow: 0 0 30rem 30rem vars.$color-green;
    background-color: vars.$color-green;
    opacity: 0.5;
}
.footer__status--warning:after {
    box-shadow: 0 0 30rem 30rem vars.$color-orange;
    background-color: vars.$color-orange;
    opacity: 0.5;
}
.footer__status--error:after {
    box-shadow: 0 0 30rem 30rem vars.$color-pink;
    background-color: vars.$color-pink;
    opacity: 0.75;
}

.footer__cron,
.footer__ical,
.footer__logout {
    text-align: right;
}

@include common.responsive-medium {
    .footer {
        display: none;
    }
}
