.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: $color-black;
    color: $color-white;
    padding: 0 $space-big;
    @include shadow;
    @include border;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 1fr 0.2fr;
    grid-template-rows: 1fr;
}
.footer__status {
    text-align: center;
}
.footer__logout {
    text-align: right;
}

@include responsive-medium {
    .footer {
        padding: 0 $space-small;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-left-width: 1rem;
        border-bottom-width: 2rem;
        border-right-width: 1rem;
    }
    .footer__save,
    .footer__create,
    .footer__logout {
        text-align: center;
    }
}
