.metabar {
    position: absolute;
    top: $space-medium;
    left: $space-medium;
    right: $space-medium;
    height: $bar-height;
}

.metabar__filter,
.metabar__sort {
    /*padding-top: calc(#{$bar-height} / 4);*/
    line-height: $bar-height;
}

.metabar__filter {
    float: left;
}

.metabar__select {
    float: left;
    height: $bar-height;
    @include input;
    @include select;
}

.metabar__select--filter {
    margin-right: $space-small;
    &:last-child {
        margin-right: 0;
    }
}
.metabar__select--sort {
    margin-left: $space-small;
    &:first-child {
        margin-left: 0;
    }
}

.metabar__sort {
    float: right;
}

@include responsive-medium {
    .metabar__filter {
        width: 100%;
    }
    .metabar__sort {
        display: none;
    }
    .metabar__select {
        width: 21.25%;
        margin-right: 5%;
    }
    .metabar__select:last-child {
        margin-right: 0;
    }
}
