@use "../_assorted/common";
@use "../_config/vars";

.metabar {
    position: absolute;
    top: vars.$space-medium;
    left: vars.$space-medium;
    right: vars.$space-medium;
    height: vars.$bar-height;
}

.metabar__filter,
.metabar__sort {
    line-height: vars.$bar-height;
}

.metabar__filter {
    float: left;
}

.metabar__select {
    float: left;
    height: vars.$bar-height;
    @include common.input;
    @include common.select;
}

.metabar__select--filter {
    margin-right: vars.$space-small;
    &:last-child {
        margin-right: 0;
    }
}
.metabar__select--sort {
    margin-left: vars.$space-small;
    &:first-child {
        margin-left: 0;
    }
}

.metabar__sort {
    float: right;
}
