.metabar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $metabar-height;
    line-height: $metabar-height;
    background-color: $color-greylight;
    z-index: 400;
    font-size: 10rem;
    border-radius: $border-radius $border-radius 0 0;
}

.metabar__filter {
    float: left;
}

.metabar__sort {
    float: right;
}
