@use '../_assorted/common';
@use '../_config/vars';

.quickbox {
    width: calc((100% - #{vars.$container-width-big}) - #{vars.$space-big});
    bottom: calc(#{vars.$footer-height} + #{vars.$space-big});
    right: vars.$space-big;
    top: calc(
        #{vars.$space-big} + ((100% - (2 * #{vars.$space-big}) - #{vars.$footer-height}) / 1.5) +
            (0.5 * #{vars.$space-big})
    );
    position: absolute;
    background-color: vars.$color-black-transparent;
    color: vars.$color-white;
    overflow: hidden;
    @include common.border;
    @include common.shadow;
    .view-mode--wide & {
        width: calc((100% - #{vars.$container-width-small}) - #{vars.$space-big});
    }
}

.quickbox__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
}

.quickbox__money {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quickbox__money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}

.quickbox__money-stats {
    width: 100%;
    @include common.border;
    border-left: none;
    border-top: none;
    border-right: none;
}
.quickbox__money-stats-entries {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.quickbox__money-stats-entry {
    width: 25%;
    text-align: center;
    height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    align-content: center;
}
.quickbox__money-stats-entry-heading {
    opacity: 0.75;
    display: inline;
    padding-right: 2rem;
}
.quickbox__money-stats-entry-inner {
    line-height: vars.$font-size-big;
}
.quickbox__money-chart {
    width: 100%;
    flex-grow: 1;
    max-height: calc(100% - #{vars.$space-big});
    padding: vars.$space-medium;
}
.quickbox__money-chart-canvas {
    width: 100%;
    height: 100%;
}

.quickbox__new {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quickbox__new-form {
    padding: vars.$space-small;
    height: 100%;
}

.quickbox__new-inputrows {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
}

.quickbox__new-inputrow {
    width: 100%;
    flex: 0 0 auto;
    background-color: vars.$color-grey;
    height: vars.$space-big;
    line-height: vars.$space-big;
}

.quickbox__new-inputrow--rheight {
    height: calc(100% - (3 * #{vars.$space-big} + 3 * #{vars.$space-small}));
}

.quickbox__new-submit {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    display: block;
    padding: vars.$space-small;
    cursor: pointer;
    background-color: vars.$color-pink;
    color: vars.$color-white;
}

.quickbox__new-label {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: vars.$space-small;
    white-space: nowrap;
    overflow: hidden;
}

.quickbox__new-label-text {
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    display: inline-block;
    margin-left: vars.$space-small;
    vertical-align: top;
}

.quickbox__new-input:invalid {
    background-image: url('../_assets/icon_warning.svg');
    background-position: right -23rem center;
    background-size: 20rem;
    background-repeat: no-repeat;
    border-right: 27rem solid transparent;
}

.quickbox__new-input--radio {
    vertical-align: top;
    height: 100%;
    margin-top: -1rem;
}

.quickbox__new-inputrow {
    margin-right: vars.$space-small;
}
.quickbox__new-inputrow:nth-child(4) {
    margin-right: 0;
}
.quickbox__new-inputrow--1\/6 {
    width: calc((100% / 6) - (#{vars.$space-small} * (6 - 1) / 6));
}
.quickbox__new-inputrow--1\/2 {
    width: calc((100% / 2) - (#{vars.$space-small} * (2 - 1) / 2));
}

.quickbox__new-inputrow:not(:last-child) {
    margin-bottom: vars.$space-small;
}

.quickbox__new-input--text {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    background-color: vars.$color-grey;
    color: vars.$color-white;
    display: block;
    padding: vars.$space-small;
}

.quickbox__new-input--textarea {
    width: 100%;
    height: 100%;
    background-color: vars.$color-grey;
    color: vars.$color-white;
    display: block;
    padding: vars.$space-small;
    resize: none;
    @include common.scrollbar;
}

.quickbox__week {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quickbox__today {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quickbox__today-nav {
    height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    display: flex;
    justify-content: space-between;
    @include common.border;
    border-left: none;
    border-top: none;
    border-right: none;
}

.quickbox__today-navitem {
    height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    line-height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    font-size: vars.$font-size-medium;
    text-align: center;
    box-shadow: 0 0 0 2rem inset vars.$color-white;
}

.quickbox__today-navitem--cur-day {
    padding-left: vars.$space-medium;
    padding-right: vars.$space-medium;
}

.quickbox__today-navitem--empty {
    padding-left: vars.$space-medium;
    padding-right: vars.$space-medium;
}

.quickbox__today-navitem--prev-day,
.quickbox__today-navitem--next-day {
    width: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
}

.quickbox__today-tickets {
    padding: vars.$space-small;
    height: calc(100% - #{vars.$space-big} - 2 * #{vars.$space-small});
    overflow-x: hidden;
    overflow-y: auto;
    @include common.scrollbar;
}
.quickbox__today-tickets:empty {
    background-image: url('../_assets/finished.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.quickbox__today-ticket {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: vars.$space-small;
    border-width: 6rem;
    border-style: solid;
    border-color: vars.$color-grey;
}
.quickbox__today-ticket:last-child {
    margin-bottom: 0;
}
.quickbox__today-ticket-project,
.quickbox__today-ticket-date,
.quickbox__today-ticket-description {
    flex: 0 1 auto;
    padding: vars.$space-small;
}
.quickbox__today-ticket-project {
    width: 50%;
}
.quickbox__today-ticket-project-status {
    margin-left: 10rem;
    font-size: vars.$font-size-small;
}
.quickbox__today-ticket-date {
    text-align: right;
    width: 50%;
}
.quickbox__today-ticket-date-countdown {
    font-size: vars.$font-size-small;
    background-color: vars.$color-pink;
    color: vars.$color-white;
    font-weight: bold;
    margin-right: 5rem;
    padding: 2rem 4rem;
}
.quickbox__today-ticket-description {
    width: 100%;
    background-color: vars.$color-grey;
    color: vars.$color-white;
    padding: vars.$space-small;
    margin-bottom: vars.$space-small;
    font-size: vars.$font-size-small;
    /*max-height: calc(3 * #{vars.$space-big});*/
    /*overflow-y: auto;*/
    overflow-x: auto;
    white-space: nowrap;
    @include common.scrollbar;
}

.quickbox__today-edit-delete-container {
    width: 100%;
}
.quickbox__today-edit-delete-container-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.quickbox__today-edit {
    width: 50%;
    text-align: left;
}
.quickbox__today-delete {
    width: 50%;
    text-align: right;
}
.quickbox__today-edit-delete-container-bottom {
    height: 0;
    pointer-events: none;
    transition-property: all;
    transition-duration: 0.42s;
    transition-timing-function: ease-out;
    transition-behavior: allow-discrete;
    overflow: hidden;
    interpolate-size: allow-keywords;
}

.quickbox__today-edit-delete-container-bottom--active {
    @starting-style {
        height: 0;
    }
    pointer-events: auto;
    height: auto;
}

.quickbox__today-edit-inputrows {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    padding: vars.$space-small;
}

.quickbox__today-edit-inputrow {
    width: 100%;
    flex: 0 0 auto;
    background-color: vars.$color-grey;
    height: vars.$space-big;
    line-height: vars.$space-big;
    margin-bottom: vars.$space-small;
}

.quickbox__today-edit-inputrow--dheight {
    height: auto;
}

.quickbox__today-edit-submit {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    display: block;
    padding: vars.$space-small;
    cursor: pointer;
    background-color: vars.$color-pink;
    color: vars.$color-white;
}

.quickbox__today-edit-input:invalid {
    background-image: url('../_assets/icon_warning.svg');
    background-position: right -23rem center;
    background-size: 20rem;
    background-repeat: no-repeat;
    border-right: 27rem solid transparent;
}

.quickbox__today-edit-input--text {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    background-color: vars.$color-grey;
    color: vars.$color-white;
    display: block;
    padding: vars.$space-small;
}

.quickbox__today-edit-input--textarea {
    width: 100%;
    height: 100%;
    background-color: vars.$color-grey;
    color: vars.$color-white;
    display: block;
    padding: vars.$space-small;
    resize: none;
    height: 80rem;
    @include common.scrollbar;
}

.quickbox__mails {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    @include common.scrollbar;
}

.quickbox__pull-to-refresh--text {
    color: #fff !important;
}
.quickbox__pull-to-refresh--icon {
    color: #fff !important;
}

.quickbox__mails--loading {
    background-image: url('../_assets/loading.gif');
    pointer-events: none !important;
}

.quickbox__mails--loading .quickbox__mail {
    opacity: 0.05 !important;
}

.quickbox__mails--finished {
    background-image: url('../_assets/finished.gif');
}

.quickbox__mails,
.quickbox__money,
.quickbox__new,
.quickbox__today {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}

.quickbox__content[data-view='week'] .quickbox__week,
.quickbox__content[data-view='mails'] .quickbox__mails,
.quickbox__content[data-view='money'] .quickbox__money,
.quickbox__content[data-view='new'] .quickbox__new,
.quickbox__content[data-view='today'] .quickbox__today {
    opacity: 1;
    pointer-events: auto;
}

.quickbox__mail {
    width: 100%;
    height: auto;
    @include common.border;
    border-left: none;
    border-right: none;
    border-top: none;
    transition:
        transform 0.25s ease-in-out,
        opacity 0.25s ease-in-out;
}

.quickbox__mail--expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 0;
    z-index: 1;
    background-color: vars.$color-black;
}

.quickbox__mail:not(.quickbox__mail--unread):not(.quickbox__mail--expanded) {
    opacity: 0.5;
}

.quickbox__mail--move-left {
    transform: translateX(-100%);
}

.quickbox__mail--move-right {
    transform: translateX(100%);
}

.quickbox__mail--expanded .quickbox__mail-content,
.quickbox__mail--expanded .quickbox__mail-actions {
    display: block;
}

.quickbox__mail-toggle {
    padding: vars.$space-small;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.quickbox__mail-meta {
    line-height: vars.$space-medium;
    height: vars.$space-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quickbox__mail-meta--from {
    width: calc(100% - 50rem);
}

.quickbox__mail-meta--date {
    width: 50rem;
    text-align: right;
}

.quickbox__mail-meta--subject {
    width: 100%;
    font-size: vars.$font-size-small;
}

.quickbox__mail-content {
    @include common.border;
    padding: vars.$space-medium;
    filter: grayscale(100%);
    width: 100%;
    height: calc(100% - (6 * #{vars.$space-small} + 2 * #{vars.$space-medium} + 3 * #{vars.$space-big}));
    display: none;
}

.quickbox__mail-content:hover {
    height: calc(100% - (#{vars.$space-big} + 2 * #{vars.$space-small}));
}

.quickbox__mail-actions {
    display: none;
    padding: vars.$space-small;
}

.quickbox__mail-submit {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    display: block;
    padding: vars.$space-small;
    cursor: pointer;
    background-color: vars.$color-pink;
    color: vars.$color-white;
}

.quickbox__mail-inputrows {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.quickbox__mail-inputrow {
    margin-right: vars.$space-small;
    flex: 0 0 auto;
    margin-bottom: vars.$space-small;
    background-color: vars.$color-grey;
    height: vars.$space-big;
    line-height: vars.$space-big;
}

.quickbox__mail-inputrow--1\/1 {
    width: calc(100% / 1 - #{vars.$space-small} / 1 * 0);
}
.quickbox__mail-inputrow--1\/1 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/1:nth-last-child(-n + 1) {
    margin-bottom: 0;
}

.quickbox__mail-inputrow--1\/2 {
    width: calc(100% / 2 - #{vars.$space-small} / 2 * 1);
}
.quickbox__mail-inputrow--1\/2 + .quickbox__mail-inputrow--1\/2 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/2:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.quickbox__mail-inputrow--1\/3 {
    width: calc(100% / 3 - #{vars.$space-small} / 3 * 2);
}
.quickbox__mail-inputrow--1\/3 + .quickbox__mail-inputrow--1\/3 + .quickbox__mail-inputrow--1\/3 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/3:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.quickbox__mail-inputrow--1\/4 {
    width: calc(100% / 4 - #{vars.$space-small} / 4 * 3);
}
.quickbox__mail-inputrow--1\/4
    + .quickbox__mail-inputrow--1\/4
    + .quickbox__mail-inputrow--1\/4
    + .quickbox__mail-inputrow--1\/4 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/4:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.quickbox__mail-inputrow--1\/5 {
    width: calc(100% / 5 - #{vars.$space-small} / 5 * 4);
}
.quickbox__mail-inputrow--1\/5
    + .quickbox__mail-inputrow--1\/5
    + .quickbox__mail-inputrow--1\/5
    + .quickbox__mail-inputrow--1\/5
    + .quickbox__mail-inputrow--1\/5 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/5:nth-last-child(-n + 5) {
    margin-bottom: 0;
}

.quickbox__mail-inputrow--1\/6 {
    width: calc(100% / 3 - #{vars.$space-small} / 6 * 5);
}
.quickbox__mail-inputrow--1\/6
    + .quickbox__mail-inputrow--1\/6
    + .quickbox__mail-inputrow--1\/6
    + .quickbox__mail-inputrow--1\/6
    + .quickbox__mail-inputrow--1\/6
    + .quickbox__mail-inputrow--1\/6 {
    margin-right: 0;
}
.quickbox__mail-inputrow--1\/6:nth-last-child(-n + 6) {
    margin-bottom: 0;
}

.quickbox__mail-input--text {
    width: 100%;
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    background-color: vars.$color-grey;
    color: vars.$color-white;
    display: block;
    padding: vars.$space-small;
}

.quickbox__mail-label {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: vars.$space-small;
    white-space: nowrap;
    overflow: hidden;
}

.quickbox__mail-label-text {
    height: 100%;
    line-height: calc(#{vars.$space-big} - 2 * #{vars.$space-small});
    display: inline-block;
    margin-left: vars.$space-small;
    vertical-align: top;
}

.quickbox__mail-input--radio,
.quickbox__mail-input--checkbox {
    vertical-align: top;
    height: 100%;
    margin-top: -1rem;
}

.quickbox__nav {
    @include common.border;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.quickbox__navitem {
    height: 100%;
    line-height: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
    display: block;
    text-align: center;
    flex: 0 1 auto;
}

.quickbox__nav--count-1 .quickbox__navitem {
    width: 10%;
}
.quickbox__nav--count-2 .quickbox__navitem {
    width: 50%;
}
.quickbox__nav--count-3 .quickbox__navitem {
    width: 33.33%;
}
.quickbox__nav--count-4 .quickbox__navitem {
    width: 25%;
}
.quickbox__nav--count-5 .quickbox__navitem {
    width: 20%;
}

.quickbox__navitem-count {
    border-radius: 50%;
    background-color: vars.$color-pink;
    color: vars.$color-white;
    width: vars.$space-medium;
    height: vars.$space-medium;
    line-height: vars.$space-medium;
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    transition: opacity 0.25s ease-in-out;
}
.quickbox__navitem-count:empty {
    opacity: 0;
}

.quickbox__navitem--active {
    background-color: vars.$color-white;
    color: vars.$color-black;
}

.quickbox__navitem--hidden {
    display: none;
}

@media screen and (min-width: vars.$breakpoint-medium) and (max-height: 850px) {
    .quickbox__mail-content {
        padding: 0;
    }
}

@include common.responsive-medium {
    .quickbox {
        border: none;
        width: 100%;
        bottom: 0;
        right: 0;
        top: 0;
        .view-mode--wide & {
            width: 100%;
        }
    }
    .quickbox__money-chart {
        padding: vars.$space-medium;
    }
    .quickbox__money-stats-entry-heading {
        display: block;
        padding: 0;
    }
}
