@use '../_assorted/common';
@use '../_config/vars';

.scheduler {
    width: calc((100% - #{vars.$container-width-big}) - #{vars.$space-big});
    bottom: calc(
        #{vars.$footer-height} + #{vars.$space-big} + ((100% - (2 * #{vars.$space-big}) - #{vars.$footer-height}) / 3) +
            (0.5 * #{vars.$space-big})
    );
    right: vars.$space-big;
    top: vars.$space-big;
    position: absolute;
    background-color: vars.$color-black-transparent;
    color: vars.$color-white;
    overflow: hidden;
    @include common.border;
    @include common.shadow;
    .view-mode--wide & {
        width: calc((100% - #{vars.$container-width-small}) - #{vars.$space-big});
    }
}

.scheduler--loading {
    opacity: 0.5;
}

.scheduler__navigation {
    position: absolute;
    top: vars.$space-medium;
    left: vars.$space-medium;
    right: vars.$space-medium;
    height: vars.$bar-height;
    color: vars.$color-white;
}

/* tables are bad for pixel perfect adjustments */
/* render it as blocks */

.scheduler__table {
    position: absolute;
    top: calc(#{vars.$bar-height} + #{vars.$space-medium} * 2);
    left: vars.$space-medium;
    right: vars.$space-medium;
    width: calc(100% - #{vars.$space-medium} * 2); /* needed because of table */
    height: calc(100% - #{vars.$bar-height} - #{vars.$space-medium} * 3);
    display: block;
    box-shadow: 0px 0px 0px 2px vars.$color-grey;
}

.scheduler__table-head {
    width: 100%;
    height: #{vars.$bar-height};
    display: block;
    #app[data-weeks-in-viewport='3'] & {
        font-size: vars.$font-size-small;
    }
}

.scheduler__table-body {
    width: 100%;
    height: calc(100% - #{vars.$bar-height});
    display: block;
}

.scheduler__row {
    height: calc(100% / (24 + 1 - 9)); // 24 + 1 - hourBegin
    display: block;
    .scheduler__table-head & {
        height: 50%;
    }
}

.scheduler__cell {
    height: 100%;
    padding: 0 vars.$space-small;
    float: left;
    box-shadow: 0px 0px 0px 1px vars.$color-grey;
    white-space: nowrap;
    overflow: hidden;
    .scheduler__table-head & {
        text-align: center;
        line-height: calc(#{vars.$bar-height} / 2);
        padding: 0;
    }
}

.scheduler__cell--main {
    background-color: rgba(vars.$color-white, 0.1);
}

.scheduler__cell--curday {
    background-color: rgba(vars.$color-white, 0.2);
}

.scheduler__cell--curday.scheduler__cell--main {
    background-color: rgba(vars.$color-white, 0.3);
}

.scheduler__cell--activeday {
    background-color: rgba(vars.$color-pink, 0.3);
}

.scheduler__cell--activeday.scheduler__cell--main {
    background-color: rgba(vars.$color-white, 0.4);
}

.scheduler__cell--weekend {
    background-color: rgba(vars.$color-green, 0.3);
}

.scheduler__cell--weekend.scheduler__cell--activeday {
    background-color: rgba(vars.$color-green, 0.55);
}

.scheduler__cell--indicator-container {
    overflow: visible;
    position: relative;
}

.scheduler__cell--indicator {
    height: 5rem;
    transform: translateY(-50%) translateX(-10%);
    width: 120%;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: vars.$color-pink;
    border: 1rem solid vars.$color-white;
    box-shadow: 0 0 10rem 0 vars.$color-white;
}

.scheduler__appointments {
    position: absolute;
    top: calc(#{vars.$bar-height} + #{vars.$bar-height} + #{vars.$space-medium} * 2);
    left: vars.$space-medium;
    right: vars.$space-medium;
    height: calc(100% - #{vars.$bar-height} - #{vars.$bar-height} - #{vars.$space-medium} * 3);
}

.scheduler__appointment {
    position: absolute;
    padding: 0rem 3rem;
    font-size: vars.$font-size-medium;
    line-height: 11rem;
    text-align: center;
    overflow: hidden;
    min-width: 1px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 0px 1px vars.$color-white;
    transition: opacity 0.5s ease-in-out;
    cursor: help;
}
.scheduler__appointment-inner {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

.scheduler__navigation-week,
.scheduler__navigation-button {
    line-height: vars.$bar-height;
    display: block;
}

.scheduler__navigation-week {
    display: block;
    float: left;
}

.scheduler__navigation-button {
    float: right;
    display: block;
    margin-left: 2rem;
    padding: 0 6rem;
    text-align: center;
}

.scheduler__navigation-button--next-month {
    padding-right: 0;
}
.scheduler__navigation-button--prev-month {
    margin-left: 0;
    padding-left: 0;
}

.scheduler__navigation-today {
    padding-left: 0;
}

.scheduler__navigation-daylink {
    cursor: pointer;
    z-index: 2;
    background-color: vars.$color-black-transparent;
    position: relative;
}

.scheduler:not(.scheduler--mobile-active)
    .scheduler__appointments:has(.scheduler__appointment:hover)
    .scheduler__appointment:not(:hover) {
    opacity: 0.5 !important;
}

@include common.responsive-medium {
    .scheduler {
        display: block;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: calc(#{vars.$space-big} + 2 * #{vars.$space-small});
        z-index: 1;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
        pointer-events: none;
        .view-mode--wide & {
            width: 100%;
        }
    }
    .scheduler__appointment {
        font-size: vars.$font-size-small;
        line-height: 7rem;
    }
    .scheduler__cell {
        font-size: vars.$font-size-small;
    }
    .scheduler--mobile-active {
        opacity: 1;
        pointer-events: auto;
    }
    .scheduler__navigation-week {
        display: none;
    }
    .scheduler__navigation {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: row-reverse;
    }
    .scheduler__navigation-button {
        border: 2rem solid vars.$color-white;
        padding-left: 10rem;
        padding-right: 10rem;
        flex: 1 1 auto;
    }
    .scheduler__navigation-button--prev-month,
    .scheduler__navigation-button--prev-day,
    .scheduler__navigation-button--next-day,
    .scheduler__navigation-button--next-month {
        display: none;
    }
}

.scheduler__appointment[style*='glow-animation-1'] {
    box-shadow:
        inset 0 0 10px whitesmoke,
        inset 20px 0 10px #f0f,
        inset -20px 0 10px #0ff,
        inset 20px 0 100px #f0f,
        inset -20px 0 100px #0ff,
        0 0 10px #fff,
        -10px 0 10px #f0f,
        10px 0 10px #0ff;
}

.scheduler__appointment[style*='glow-animation-2'] {
    box-shadow: 0px 0px 10px 8px #ff0000;
}

@keyframes glow-animation-1 {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.02);
        opacity: 0.7;
    }
}

@keyframes glow-animation-2 {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.02);
        opacity: 0.7;
    }
}
