.scheduler {
    width: calc(33.33% - #{$space});
    bottom: $space;
    right: $space;
    top: $space;
    position: absolute;
    background-color: $color-greylight;
    color: $color-white;
    color: $color-black;
    font-size: 10rem;
    overflow: hidden;
    border-radius: $border-radius;
    @include shadow;
}

.scheduler__appointments {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
}

.scheduler__table {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 95%;
}

.scheduler__table-body {
    height: 100%;
}

.scheduler__row {
    height: 6%; /* use rounded values here, because otherwise heights are shown wrong */
}

.scheduler__cell {
    width: 12.5%;
    padding: 0;
    vertical-align: top;
}

.scheduler__cell--main {
    background-color: $color-white;
}

.scheduler__cell--curday {
    background-color: #c7c7c7;
}

.scheduler__cell--curday.scheduler__cell--main {
    background-color: #e8e8e8;
}

.scheduler__row:nth-child(1),
.scheduler__row:nth-child(2) {
    height: 3%;
}

.scheduler__appointment {
    position: absolute;
    width: 12.5%;
    border: 1px solid $color-black;
    overflow: hidden;
}

.scheduler__navigation {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 5%;
    color: $color-white;
    padding: 0 $space;
}

.scheduler__navigation-week,
.scheduler__navigation-today,
.scheduler__navigation-prev,
.scheduler__navigation-next {
    line-height: 5vh;
    font-size: 15rem;
    display: block;
}

.scheduler__navigation-week {
    display: block;
    float: left;
}

.scheduler__navigation-today,
.scheduler__navigation-prev,
.scheduler__navigation-next {
    float: right;
    display: block;
    padding-left: $space;
}

.scheduler__navigation-today {
    padding-left: 0;
}
