.scheduler {
    width: calc((100% - #{$container-width-big}) - #{$space-big});
    bottom: calc(
        #{$footer-height} + #{$space-big} + ((100% - (2 * #{$space-big}) - #{$footer-height}) / 3) +
            (0.5 * #{$space-big})
    );
    right: $space-big;
    top: $space-big;
    position: absolute;
    background-color: $color-black-transparent;
    color: $color-white;
    overflow: hidden;
    @include border;
    @include shadow;
    .view-mode--wide & {
        width: calc((100% - #{$container-width-small}) - #{$space-big});
    }
}

.scheduler__navigation {
    position: absolute;
    top: $space-medium;
    left: $space-medium;
    right: $space-medium;
    height: $bar-height;
    color: $color-white;
}

/* tables are bad for pixel perfect adjustments */
/* render it as blocks */

.scheduler__table {
    position: absolute;
    top: calc(#{$bar-height} + #{$space-medium} * 2);
    left: $space-medium;
    right: $space-medium;
    width: calc(100% - #{$space-medium} * 2); /* needed because of table */
    height: calc(100% - #{$bar-height} - #{$space-medium} * 3);
    display: block;
    box-shadow: 0px 0px 0px 2px $color-grey;
}

.scheduler__table-head {
    width: 100%;
    height: #{$bar-height};
    display: block;
    #app[data-weeks-in-viewport='3'] & {
        font-size: $font-size-small;
    }
}

.scheduler__table-body {
    width: 100%;
    height: calc(100% - #{$bar-height});
    display: block;
}

.scheduler__row {
    height: calc(100% / (24 + 1 - 9)); // 24 + 1 - hourBegin
    display: block;
    .scheduler__table-head & {
        height: 50%;
    }
}

.scheduler__cell {
    height: 100%;
    padding: 0 $space-small;
    float: left;
    box-shadow: 0px 0px 0px 1px $color-grey;
    white-space: nowrap;
    overflow: hidden;
    .scheduler__table-head & {
        text-align: center;
        line-height: calc(#{$bar-height} / 2);
        padding: 0;
    }
}

.scheduler__cell--main {
    background-color: rgba($color-white, 0.1);
}

.scheduler__cell--curday {
    background-color: rgba($color-white, 0.2);
}

.scheduler__cell--curday.scheduler__cell--main {
    background-color: rgba($color-white, 0.3);
}

.scheduler__cell--activeday {
    background-color: rgba($color-pink, 0.2);
}

.scheduler__cell--activeday.scheduler__cell--main {
    background-color: rgba($color-white, 0.4);
}

.scheduler__cell--weekend {
    background-color: rgba($color-green, 0.3);
}

.scheduler__cell--weekend.scheduler__cell--activeday {
    background-color: rgba($color-green, 0.35);
}

.scheduler__cell--indicator-container {
    overflow: visible;
    position: relative;
}

.scheduler__cell--indicator {
    height: 5rem;
    transform: translateY(-50%) translateX(-10%);
    width: 120%;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: $color-pink;
    border: 1rem solid $color-white;
    box-shadow: 0 0 10rem 0 $color-white;
}

.scheduler__appointments {
    position: absolute;
    top: calc(#{$bar-height} + #{$bar-height} + #{$space-medium} * 2);
    left: $space-medium;
    right: $space-medium;
    height: calc(100% - #{$bar-height} - #{$bar-height} - #{$space-medium} * 3);
}

.scheduler__appointment {
    position: absolute;
    padding: 0rem 3rem;
    font-size: $font-size-medium;
    line-height: 11rem;
    text-align: center;
    overflow: hidden;
    min-width: 1px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 0px 1px $color-white;
    transition: opacity 0.5s ease-in-out;
    cursor: help;
}
.scheduler__appointment-inner {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

.scheduler__navigation-week,
.scheduler__navigation-button {
    line-height: $bar-height;
    display: block;
}

.scheduler__navigation-week {
    display: block;
    float: left;
}

.scheduler__navigation-button {
    float: right;
    display: block;
    margin-left: 2rem;
    padding: 0 6rem;
    text-align: center;
}

.scheduler__navigation-button--next-month {
    padding-right: 0;
}
.scheduler__navigation-button--prev-month {
    margin-left: 0;
    padding-left: 0;
}

.scheduler__navigation-today {
    padding-left: 0;
}

.scheduler__navigation-daylink {
    cursor: pointer;
}

.scheduler:not(.scheduler--mobile-active)
    .scheduler__appointments:has(.scheduler__appointment:hover)
    .scheduler__appointment:not(:hover) {
    opacity: 0.5 !important;
}

@include responsive-medium {
    .scheduler {
        display: block;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: calc(#{$space-big} + 2 * #{$space-small});
        z-index: 1;
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
        pointer-events: none;
        .view-mode--wide & {
            width: 100%;
        }
    }
    .scheduler__appointment {
        font-size: $font-size-small;
        line-height: 7rem;
    }
    .scheduler__cell {
        font-size: $font-size-small;
    }
    .scheduler--mobile-active {
        opacity: 1;
        pointer-events: auto;
    }
    .scheduler__navigation-week {
        display: none;
    }
    .scheduler__navigation {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: row-reverse;
    }
    .scheduler__navigation-button {
        border: 2rem solid $color-white;
        padding-left: 10rem;
        padding-right: 10rem;
        flex: 1 1 auto;
    }
    .scheduler__navigation-button--prev-month,
    .scheduler__navigation-button--prev-day,
    .scheduler__navigation-button--next-day,
    .scheduler__navigation-button--next-month {
        display: none;
    }
}

.scheduler__appointment[style*='glow-animation-1'] {
    box-shadow: inset 0 0 10px whitesmoke, inset 20px 0 10px #f0f, inset -20px 0 10px #0ff, inset 20px 0 100px #f0f,
        inset -20px 0 100px #0ff, 0 0 10px #fff, -10px 0 10px #f0f, 10px 0 10px #0ff;
}

.scheduler__appointment[style*='glow-animation-2'] {
    box-shadow: 0px 0px 10px 8px #ff0000;
}

@keyframes glow-animation-1 {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.02);
        opacity: 0.7;
    }
}

@keyframes glow-animation-2 {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.02);
        opacity: 0.7;
    }
}
