@use "../_assorted/common";
@use "../_config/vars";

.tickets {
    width: calc(#{vars.$container-width-big} - 2 * #{vars.$space-big});
    bottom: calc(#{vars.$space-big} + #{vars.$footer-height});
    left: vars.$space-big;
    top: vars.$space-big;
    color: vars.$color-white;
    background-color: vars.$color-black-transparent;
    position: absolute;
    @include common.border;
    @include common.shadow;
    .view-mode--wide & {
        width: calc(#{vars.$container-width-small} - 2 * #{vars.$space-big});
    }
}

.tickets__table-container {
    @include common.scrollbar;
}

.tickets__textarea {
    width: 100%;
    white-space: nowrap;
    /*transition: height 1s ease-out;*/
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: vars.$space-medium;
    line-height: vars.$space-medium;
    vertical-align: top; // fixes annoying unknown padding bug
    @include common.input;
    @include common.scrollbar;
}

.tickets__textarea:invalid {
    background-image: url('../_assets/icon_warning.svg');
    background-position: right -18rem top 1rem;
    background-size: 13rem;
    background-repeat: no-repeat;
    border-right: 20rem solid transparent;
}

.tickets__table-container {
    position: absolute;
    top: calc(#{vars.$space-medium} + #{vars.$bar-height} + #{vars.$space-medium});
    left: vars.$space-medium;
    bottom: vars.$space-medium;
    right: vars.$space-medium;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tickets__table {
    width: 100%;
    table-layout: fixed;
}

.tickets__table-tooltip {
    cursor: help;
}

.tickets__table-cell {
    vertical-align: top;
    overflow: hidden;
    padding: 0 0 0 4rem;
    @include common.border;
}

.tickets__table-cell:nth-child(1) {
    width: 7%;
}

.tickets__table-cell:nth-child(2) {
    width: 7%;
}

.tickets__table-cell:nth-child(3) {
    width: 12%;
}

.tickets__table-cell:nth-child(4) {
    width: 6%;
}

.tickets__table-cell:nth-child(5) {
    width: 10%;
}

.tickets__table-cell:nth-child(6) {
    width: auto;
}

.tickets__table-cell:nth-child(7) {
    width: 7%;
}

.tickets__table-cell:nth-child(8) {
    width: 7%;
}

.tickets__entry {
    display: none;
    border-left: vars.$space-medium solid transparent;
}

.tickets__entry--visible {
    display: table-row;
}

.tickets__entry--changed {
    box-shadow: 0 0 0 3rem vars.$color-orange inset, 7rem 0 0 3rem vars.$color-orange inset;
}

.tickets__entry--locked {
    box-shadow: 0 0 0 3rem vars.$color-pink inset, 7rem 0 0 3rem vars.$color-pink inset;
}

.tickets__attachment {
    font-size: 0;
}

.tickets__attachment-download {
    background-image: url('../_assets/icon_email.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 14rem;
    height: 15rem;
    margin-right: 5rem;
    vertical-align: top;
}

.tickets__attachment-delete {
    background-image: url('../_assets/icon_delete.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 13rem;
    height: 15rem;
    vertical-align: top;
}

.tickets__upload {
    background-image: url('../_assets/icon_upload.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 13rem;
    height: 15rem;
    cursor: pointer;
    vertical-align: top;
}

.tickets__upload-input {
    display: none;
}

@include common.responsive-medium {
    .tickets {
        display: none;
    }
}
