.tickets {
    width: calc(66.66% - 2 * #{$space-big});
    bottom: calc(#{$space-big} + #{$bar-height});
    left: $space-big;
    top: $space-big;
    color: $color-white;
    background-color: $color-black;
    position: absolute;
    font-size: $font-size-small;
    @include border;
    @include shadow;
}

.tickets__table-container::-webkit-scrollbar {
    width: 2rem;
}
.tickets__table-container::-webkit-scrollbar-track {
    background-color: $color-black;
}
.tickets__table-container::-webkit-scrollbar-thumb {
    background-color: $color-white;
}

.tickets__textarea {
    width: 100%;
    white-space: nowrap;
    /*transition: height 1s ease-out;*/
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    height: $space-medium;
    line-height: $space-medium;
    vertical-align: top; // fixes annoying unknown padding bug
    @include input;
}

.tickets__textarea:invalid {
    background-image: url(../_assets/icon_warning.svg);
    background-position: center right;
    background-size: 10rem;
    background-repeat: no-repeat;
}

.tickets__table-container {
    position: absolute;
    top: calc(#{$space-medium} + #{$bar-height} + #{$space-medium});
    left: $space-medium;
    bottom: $space-medium;
    right: $space-medium;
    overflow-y: auto;
    overflow-x: hidden;
}

.tickets__table {
    width: 100%;
    table-layout: fixed;
}

.tickets__table-cell {
    vertical-align: top;
    overflow: hidden;
    padding: 0rem 4rem;
    @include border;
}

.tickets__table-cell:nth-child(1) {
    width: 7%;
}

.tickets__table-cell:nth-child(2) {
    width: 7%;
}

.tickets__table-cell:nth-child(3) {
    width: 12%;
}

.tickets__table-cell:nth-child(4) {
    width: 6%;
}

.tickets__table-cell:nth-child(5) {
    width: 10%;
}

.tickets__table-cell:nth-child(6) {
    width: auto;
}

.tickets__table-cell:nth-child(7) {
    width: 7%;
}

.tickets__table-cell:nth-child(8) {
    width: 7%;
}

.tickets__entry {
    display: none;
    border-left: $space-medium solid transparent;
}

.tickets__entry--visible {
    display: table-row;
}

.tickets__entry--changed {
    box-shadow: 0 0 0 3rem yellow inset;
}

.tickets__entry--locked {
    box-shadow: 0 0 0 3rem red inset;
}

.tickets__attachment {
    font-size: 0;
}

.tickets__attachment-download {
    background-image: url('../_assets/icon_email.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    vertical-align: top;
}

.tickets__attachment-delete {
    background-image: url('../_assets/icon_delete.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    vertical-align: top;
}

.tickets__upload {
    background-image: url('../_assets/icon_upload.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    vertical-align: top;
}

.tickets__upload-input {
    display: none;
}
