Header add Service-Worker-Allowed /

<If "%{REQUEST_URI} =~ /hosea/">
RewriteEngine on
RewriteRule manifest\.json$ /hosea/_pwa/manifest.json.php [L,QSA]
</If>
<Else>
RewriteEngine on
RewriteRule manifest\.json$ /_pwa/manifest.json.php [L,QSA]
</Else>