$font-size-small: 7rem;
$font-size-medium: 10rem;
$font-size-big: 13rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: grey;
$color-greylight: #6ccbb8;
$color-greydark: #1b7593;
$color-red: #e91e63;

$space-small: 5rem;
$space-medium: 15rem;
$space-big: 40rem;

$border-radius: 5rem;

$bar-height: 25rem;
$footer-height: 35rem;

$breakpoint-small: 500px;
$breakpoint-medium: 700px;
$breakpoint-big: 1100px;
