$font-size-small: 10rem;
$font-size-medium: 16rem;
$font-size-big: 40rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: grey;
$color-greylight: #6ccbb8;
$color-greydark: #1b7593;

$space-small: 5rem;
$space-medium: 15rem;
$space-big: 40rem;

$border-radius: 5rem;

$bar-height: 40rem;

$breakpoint-big: 1100px;
$breakpoint-small: 700px;
