#app
{
    width:800px;
    height:400px;
    background-color:green;
    color:#fff;
    font-size:8px;
}
input
{
    border:1px solid #000;
    font-size:8px;
}
textarea
{
    height:10px;
}
.ticket_entry
{
    border:5px solid grey;
}
.ticket_entry--changed
{
    border-color:yellow;
}
.ticket_entry--locked
{
    border-color:red;
}