@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html,
body,
button,
input,
select,
textarea
{
	font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-style: normal;
}