$space: 40rem;
$border-radius: 5rem;
$metabar-height: 40rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: grey;
$color-greylight: #6ccbb8;
$color-greydark: #1b7593;

$font-size-small: 16rem;
$font-size-medium: 26rem;
$font-size-big: 40rem;
$font-size-biggest: 60rem;

$breakpoint-big: 1100px;
$breakpoint-small: 700px;

$header-height: 5vw;

$base-font-size: 20rem;
